.i{
            border:1px solid  red
            ;width:200px;
            border-radius:5px;
            display:inline-block ;
        }



/*mobile view*/
@media only screen and (max-width:600px)
{
    img{

    }
}

/*tablet ar jonno */
@media only screen and (min-width:601px) and (max-width:768px){
    img{
        
    }
}